{{define "matrix"}}

<!DOCTYPE html>
<html>
<style>
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  border: 1px solid #ddd;
  white-space: nowrap;
}

.success {
  background-color: rgb(122, 190, 122);
}

.failure {
  background-color: rgb(241, 149, 149);
}

.empty {
  background-color: #f8f8f8;
  color: #bbbbbb;
}

</style>
<body>

<h2>Test Matrix</h2>

<table>
  <tr>
    <th>Variant</th>
    <th>Install Status</th>
    <th>Upgrade from current</th>
    <th>Upgrade from previous</th>
    <th>Serial</th>
    <th>Parallel</th>
    <th>CSI</th>
  </tr>
  {{ range $key, $value := . }}
  <tr>
    <td>{{$key}}</td>
    {{with $value.InstallSuccess}}
    <td{{if eq .Result "success"}} class="success" {{else if eq .Result ""}} class="empty" {{else}} class="failure" {{end}}>
      {{if eq .Result ""}}no data{{else}}<a href="{{.URL}}">{{.Result}}</a>{{end}}
    </td>
    {{end}}
    {{with $value.UpgradeFromCurrent}}
    <td{{if eq .Result "success"}} class="success"{{else if eq .Result "failure"}} class="failure"{{else if eq .Result ""}} class="empty"{{end}}>
      {{if eq .Result ""}}no data{{else}}<a href="{{.URL}}">{{.Result}}</a>{{end}}
    </td>
    {{end}}
    {{with $value.UpgradeFromPrevious}}
    <td{{if eq .Result "success"}} class="success"{{else if eq .Result "failure"}} class="failure"{{else if eq .Result ""}} class="empty"{{end}}>
      {{if eq .Result ""}}no data{{else}}<a href="{{.URL}}">{{.Result}}</a>{{end}}
    </td>
    {{end}}
    {{with $value.Serial}}
    <td{{if eq .Result "success"}} class="success"{{else if eq .Result "failure"}} class="failure"{{else if eq .Result ""}} class="empty"{{end}}>
      {{if eq .Result ""}}no data{{else}}<a href="{{.URL}}">{{.Result}}</a>{{end}}
    </td>
    {{end}}
    {{with $value.Parallel}}
    <td{{if eq .Result "success"}} class="success"{{else if eq .Result "failure"}} class="failure"{{else if eq .Result ""}} class="empty"{{end}}>
      {{if eq .Result ""}}no data{{else}}<a href="{{.URL}}">{{.Result}}</a>{{end}}
    </td>
    {{end}}
    {{with $value.CSI}}
    <td{{if eq .Result "success"}} class="success"{{else if eq .Result "failure"}} class="failure"{{else if eq .Result ""}} class="empty"{{end}}>
      {{if eq .Result ""}}no data{{else}}<a href="{{.URL}}">{{.Result}}</a>{{end}}
    </td>
    {{end}}
  </tr>
  {{ end }}
</table>

</body>
</html>

{{end}}
